# General Libraries----------------------------------------------------------------------

dill==0.3.5.1  # For serializing and deserializing Python object structures
from-root==1.0.2  # Helps in importing modules from the root of the project directory
notebook==7.0.0a7  # Jupyter notebook, an open-source web application for creating and sharing documents with live code
gdown  # A simplified version of `wget` and `curl`, used for downloading files from Google Drive
flask-cors  # A Flask extension for handling Cross-Origin Resource Sharing (CORS), making cross-origin AJAX possible
flask  # A micro web framework written in Python

# YOLOv5 requirements----------------------------------------------------------------------

gitpython>=3.1.30  # A Python library for interacting with Git repositories
matplotlib>=3.3  # A plotting library for creating static, animated, and interactive visualizations in Python
numpy>=1.18.5  # A library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions
opencv-python>=4.1.1  # A library of programming functions mainly aimed at real-time computer vision
Pillow>=7.1.2  # A Python Imaging Library adds image processing capabilities to your Python interpreter
psutil  # A cross-platform library used to access system details and process utilities
PyYAML>=5.3.1  # A YAML parser and emitter for Python
requests>=2.23.0  # A simple HTTP library for Python, built for human beings
scipy>=1.4.1  # A Python library used for scientific and technical computing
thop>=0.1.1  # A Python package for computing FLOPs of PyTorch model
torch>=1.7.0  # see https://pytorch.org/get-started/locally (recommended) # An open source machine learning library based on the Torch library, used for applications such as computer vision and natural language processing
torchvision>=0.8.1  # A package consists of popular datasets, model architectures, and common image transformations for computer vision
tqdm>=4.64.0  # A fast, extensible progress bar for Python and CLI
ultralytics>=8.0.111  # A collection of utilities and models from Ultralytics LLC
# protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012

# Logging----------------------------------------------------------------------

# tensorboard>=2.4.1  # A suite of visualization tools provided with TensorFlow
# clearml>=1.2.0  # An open-source tool for automating and managing AI experiments
# comet  # A machine learning platform that enables data scientists and teams to track, compare, explain and optimize experiments and models

# Plotting----------------------------------------------------------------------

pandas>=1.1.4  # A software library for data manipulation and analysis
seaborn>=0.11.0  # A Python data visualization library based on matplotlib

# Export----------------------------------------------------------------------

# coremltools>=6.0  # Provides tools for converting machine learning models into Core ML format
# onnx>=1.10.0  # Open Neural Network Exchange, provides an open source format for AI models
# onnx-simplifier>=0.4.1  # Simplify your ONNX model
# nvidia-pyindex  # A Python package index including a variety of NVIDIA authored packages
# nvidia-tensorrt  # A deep learning model optimizer and runtime library by NVIDIA
# scikit-learn<=1.1.2  # A machine learning library for Python
# tensorflow>=2.4.0  # An end-to-end open source platform for machine learning
# tensorflowjs>=3.9.0  # A library for training and deploying machine learning models in JavaScript
# openvino-dev  # Intel's Deep Learning Deployment Toolkit

# Deploy----------------------------------------------------------------------

setuptools>=65.5.1  # Easily download, build, install, upgrade, and uninstall Python packages
# tritonclient[all]~=2.24.0  # A client library for Triton Inference Server

# Extras----------------------------------------------------------------------

# ipython  # A command shell for interactive computing in multiple programming languages
# mss  # For taking screenshots
# albumentations>=1.0.3  # A fast image augmentation library and easy to use wrapper around other libraries
# pycocotools>=2.0.6  # A set of tools for working with the COCO dataset, a large-scale object detection, segmentation, and captioning dataset

-e .  # This means that the setup.py file for the current project should be run, effectively installing the project
